/* Основные стили */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.article-card {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.breadcrumb {
    background-color: #f8f9fa;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

/* Стили для HTMX индикатора загрузки */
.htmx-indicator {
    display: none;
    vertical-align: middle;
}

.htmx-request .htmx-indicator {
    display: inline;
}
/*----------------------------------------------------------*/
/* Стили для закладок */
.bookmark-btn.active {
    color: #ffc107;
}

/* Простое дерево категорий без сворачивания */
.category-tree {
    list-style-type: none;
    padding-left: 3px; /* Уменьшенный общий отступ */
    margin-bottom: 0;
}

.category-tree > li {
    position: relative;
    padding-left: 10px; /* Уменьшенный отступ для корневых категорий */
    margin-bottom: 3px;
}

/* Линии дерева */
.category-tree > li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    bottom: -2px;
    width: 1px;
    background-color: #e0e0e0;
}

.category-tree > li::after {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 5px;
    height: 1px;
    background-color: #e0e0e0;
}

.category-tree > li:last-child::before {
    bottom: 8px;
}

/* Уровни вложенности */
.category-tree li ul {
    list-style: none;
    padding-left: 10px; /* Уменьшенный отступ для дочерних категорий */
    margin-top: 1px;
}

.category-tree li ul li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 2px;
}

.category-tree li ul li::before {
    bottom: 6px;
}

.category-tree li ul li::after {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 5px;
    height: 1px;
    background-color: #e0e0e0;
}

.category-tree li ul li:last-child::before {
    bottom: 8px;
}

/* Элементы дерева */
.category-item {
    display: inline-block;
    padding: 3px 6px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    color: #495057;
}

.category-item:hover {
    background-color: #f8f9fa;
    color: #212529;
}

/* Активный элемент */
.active-category .category-item {
    background-color: #e9ecef;
    color: #0d6efd;
    font-weight: 500;
}