<li class="category-item">
    <a href="{% url 'wiki:article_list_by_category' category.slug %}" 
       class="text-decoration-none {% if category == current_category %}active-category{% endif %}">
        <i class="fas fa-folder me-1"></i>{{ category.name }}
    </a>
    
    {% if category.children.all %}
    <ul class="category-children">
        {% for child in category.children.all %}
            {% include "wiki/components/category_tree.html" with category=child %}
        {% endfor %}
    </ul>
    {% endif %}
</li>